body 
{	
  background-image: url("../images/questions.png");
  background-repeat: no-repeat;
  margin-left: 50px;
  max-width: 960px;
  margin: 0 auto;

}

.container
{
    margin-top: 0;
    width: 960px;
    height: 900px;
    background-color: rgb(16, 218, 245); */
    align-content: center;
}

#title
{
  background: white;
  text-align: center;
  color: teal;
  height: 50px;
  padding: 10px;
  margin-bottom: 5px;
}

footer
{
  position: fixed;
  width: 960px;
  height: 50px;
  background: white;
  color: teal;
  margin-left: 0px;
  max-width: 960px;
  bottom: 0;
  margin-top: 80px;
  
}
.footerDiv
{
    text-align: center;
    padding: 15px;

}
.Trivia
{
  text-align: center;
}

#button-question
{
  width: 600px;
  height: 60px;
  text-align: center;
  margin-bottom: 35px;
  background-color: rgb(16, 218, 245);
 
  font-size: 50px;
  color:red;
  

}
.buttonQuestion
{
  border: 15px;
  border-color: red;
  border: black;
}
  
.buttonAnswers
{
  width: 600px;
  height: 60px;
  margin-bottom: 0;
  padding: 0;
  border: none;
  background-color: rgb(16, 218, 245);
  color: yellow;
  font-size: 35px;
  
}
#button-timer
{
  width: 600px;
  height: 60px;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(16, 218, 245);
  border: none;
  font-size: 55px;
}

