.main-button-container
{
  max-width: 450px;
  margin-left: auto;


}

.jumbotron
{
  text-align: center;
  color: teal;
}

.start-button
{
  margin-left: -235px;
  margin-top: 20px;
  height: 50px;
  border-radius: 150px;
  text-align: center;
  font-size: 25px;
}
.answer:hover
{
  background: orange;
  color: yellow;
  border-radius: 10px;
  font-size: 30px:
  
}

body 
{	
  background-image: url("../images/questions.png");
  background-repeat: no-repeat;
  margin-left: 50px;
  max-width: 960px;
  margin: 0 auto;
  align-content: center;

}

.container
{
    margin-top: 0;
    width: 960px;
    height: 900px;
    background-color: rgb(16, 218, 245);
    align-content: center;
    
    
}

img
{
  border-radius: 50px;
}

footer
{
  position: fixed;
  width: 960px;
  height: 50px;
  background: white;
  color: teal;
  margin-left: 0px;
  max-width: 960px;
  bottom: 0;
  margin-top: 80px;
  
}

.footerDiv
{
    text-align: center;
    padding: 15px;

}
.Trivia
{
  text-align: center;
}

p
{
  height: 50px;
  font-size: 16px;
}

.variable-p
{
  height: 50px;
  font-size: 40px;
  color: white;
}

.correct-p
{
  height: 50px;
  font-size: 50px;
  color: teal;
}

.wrong-p
{
  height: 50px;
  font-size: 50px;
  color: red;
}

.timeout-p
{
  height: 50px;
  font-size: 30px;
  color: white;
}

.question-p
{
  height: 60px;
  font-size: 20px;
  border-radius: 50px;
  color: white;
  background: orange;
}

.timer
{
  height: 80px;
  font-size: 50px;
  color: red;
  margin-bottom: 40px:
}
